@font-face {
    font-family: 'VegetalCrossing';
    src: url('VegetalCrossing4.1.woff2') format('woff2');
}

:root {
    --phenotype: rgba(255, 255, 255, 0.05); /* Default phenotype for visibility */
    --background-opacity: 1.0;
    --island: url(icons/nmt.png);
    --seed-red: url(icons/seed-red.png);
    --seed-yellow: url(icons/seed-yellow.png);
    --seed-white: url(icons/seed-white.png);
    --seed-orange: url(icons/seed-orange.png);
    --gold-watering-can: url(icons/golden-watering-can.png);
    --obtain: none;
    --tile-width: 84px;
    --tile-height: 48px;
    --tile-skew: skew(-26.5650512deg);
    --far-border: 1px;
    --near-border: 2px;
    --gap: 2px;
    --big-gap: 13px;
    --skew-offset: calc((var(--far-border) + var(--tile-height) + var(--near-border) + var(--gap)) / 2);
    --row-skew-offset: 0;
    --highlight-offset: 0;
    --tile-translate: translate(var(--row-skew-offset), var(--highlight-offset));
    --heading-red: 206, 9, 74;
    --section-brown: 78, 68, 49;
    --recipe-almond: 219, 213, 193;
    --selected-yellow: 50, 135%, 50%;
    --game-cream: 255, 250, 228;
    --game-cyan: 12, 198, 184;
    --game-cyan-dark: 0, 180, 168;
    --game-cyan-dark2: 60, 176, 165;
    /* Default colors */
    --red: 255, 0, 0;
    --orange: 255, 128, 0;
    --yellow: 255, 255, 0;
    --green: 0, 255, 0;
    --blue: 0, 0, 255;
    --purple: 128, 0, 255;
    --pink: 255, 128, 255;
    --white: 255, 255, 255;
    --black: 0, 0, 0;
}

html {
    background-color: rgb(var(--game-cyan));
}

body {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    line-height: 1.5;
    background-color: #ffffff;
    color: #005c56;
}

body > header {
    padding: 1px;
    line-height: 1;
}

a {
    color: rgb(var(--section-brown));
    color: rgb(var(--heading-red));
    text-decoration: none;
}

body > header h1,
body > header h2,
body > header h3 {
    margin: 0.5em 0 0;
}

body > header p {
    font-size: 16px;
    line-height: 1.5;
}

.bodytext {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

button#toggle_help {
    position: absolute;
    right: 0;
    top: 0;
    border: 0;
    width: 1.5em;
    line-height: 1.5;
    border-radius: 100px 0 100px 100px;
    font-size: 36px;
    font-weight: 900;
    background-color: rgb(var(--section-brown));
    color: white;
}

div.help {
    padding-bottom: 24px;
}

div.help h1,
div.help h2,
div.help h3 {
    color: rgb(var(--heading-red));
}

div.help figure {
    width: calc(100% / 0.90);
    margin-left: -5.5%;
    margin-right: -5.5%;
    padding-top: 32px;
    padding-bottom: 1px;
    background-color: rgb(var(--section-brown));
}

span[data-options] {
    color: rgb(var(--heading-red));
    cursor: pointer;
}

th {
    padding-left: 12px;
    padding-right: 12px;
}

td.numeric {
    text-align: right;
}

div.section_bg {
    background-color: rgb(var(--section-brown));
    color: rgb(var(--game-cream));
}

div.section_bg a {
    color: hsl(var(--selected-yellow));
}

section {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 345px 1fr;
    max-width: 1600px;
    margin: 0 auto;
    padding-top: 36px;
    padding-bottom: 36px;
    overflow: hidden;
}

.diagram[data-species="rose"].condensed {
    --tile-width: 50px;
    display: flex;
    justify-content: center;
}

.diagram[data-species="rose"].condensed div.varieties {
    margin: 0;
}

.diagram[data-species="rose"].condensed div.varieties.four_d:not(:last-child) {
    margin-bottom: 0;
    border-bottom: 0;
    padding-bottom: 0;
}

.diagram[data-species="rose"].condensed div.varieties > div {
    font-size: 16px;
}

.diagram[data-species="rose"].condensed div.varieties .result {
    font-size: 12px;
}

h1, h2, h3 {
    font-family: "Zilla Slab", serif;
}

div.options {
    background-color: #716855;
}

div.options ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

div.options button {
    width: 100%;
    margin: 0;
    border: 0;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-right-color: rgba(0, 0, 0, 0.2);
    border-bottom-color: rgba(0, 0, 0, 0.2);
    padding: 12px;
    font: 18px "Zilla Slab", serif;
    font-weight: bold;
    background: transparent;
    color: rgb(var(--game-cream));
}

ol, ul {
    padding-left: 1.5em;
}

div.rolled_up {
    display: none;
}

.diagram {
    --varieties-width: calc(3 * (var(--far-border) + var(--tile-width) + var(--near-border)) + 2 * var(--gap));
    grid-column: 1 / 4;
    margin-bottom: 36px;
    color: #ffffff;
}

div.varieties {
    display: flex;
    margin: 0 auto;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: flex-start;
    align-items: flex-end;
    width: var(--varieties-width);
}

div.varieties.four_d:not(:last-child) {
    margin-bottom: 36px;
    border-bottom: var(--big-gap) dotted black;
    padding-bottom: 36px;
}

div.varieties [title],
div.breed [title]::after {
    background: rgba(var(--phenotype), var(--background-opacity)) var(--obtain) no-repeat center;
    background-size: auto calc(var(--tile-height) / 2);
}

div.varieties > div {
    width: var(--tile-width);
    height: var(--tile-height);
    margin-bottom: var(--gap);
    border-top: var(--far-border) solid rgba(255, 255, 255, 0.1);
    border-right: var(--near-border) solid rgba(0, 0, 0, 0.2);
    border-bottom: var(--near-border) solid rgba(0, 0, 0, 0.2);
    border-left: var(--far-border) solid rgba(255, 255, 255, 0.1);
    border-radius: 2px;
    box-shadow: 1px 1px 0 rgba(0, 0, 0, 0.2);
    line-height: 1;
    font-size: 19px;
    font-weight: bold;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    user-select: none;
    transform: translate(var(--row-skew-offset), var(--highlight-offset)) var(--tile-skew);
    transform-origin: center;
    transition: background-color 0.2s;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

body.hasHover div.varieties > div.highlighted {
    --highlight-offset: -6px;
    box-shadow: 0 0 0 2px rgba(0, 0, 0, 1), 4.5px 8px 2px rgba(0, 0, 0, 0.6);
    z-index: 2;
}

div.varieties > div[data-count="0"] {
    --background-opacity: 0.2;
    border-top-color: rgba(255, 255, 255, 0.02);
    border-right-color: rgba(0, 0, 0, 0.02);
    border-bottom-color: rgba(0, 0, 0, 0.02);
    border-left-color: rgba(255, 255, 255, 0.02);
}

body.hasHover div.varieties > div[data-count="0"].highlighted {
    box-shadow: 1px 1px 0 2px rgba(0, 0, 0, 0.2), 4px 7px 2px rgba(0, 0, 0, 0.12);
}

.diagram[data-species="rose"].condensed div.varieties.Ss {
    width: calc(var(--far-border) + var(--tile-width) + var(--near-border));
    margin-left: calc(var(--gap) + var(--far-border) + var(--tile-width) + var(--near-border) + var(--gap));
}

.diagram[data-species="rose"].condensed div.varieties.Ss :nth-child(3n+1),
.diagram[data-species="rose"].condensed div.varieties.Ss :nth-child(3n+2) {
    display: none;
}

.diagram:not([data-species="rose"]) div.varieties.four_d,
.diagram[data-species="rose"] div.varieties.three_d {
    display: none;
}

.diagram[data-species="rose"].condensed div.varieties.SS {
    display: none;
}

section:not([data-species="cosmos"]) div.instructions[data-species="cosmos"] { display: none; }
section:not([data-species="hyacinth"]) div.instructions[data-species="hyacinth"] { display: none; }
section:not([data-species="lily"]) div.instructions[data-species="lily"] { display: none; }
section:not([data-species="mum"]) div.instructions[data-species="mum"] { display: none; }
section:not([data-species="pansy"]) div.instructions[data-species="pansy"] { display: none; }
section:not([data-species="rose"]) div.instructions[data-species="rose"] { display: none; }
section:not([data-species="tulip"]) div.instructions[data-species="tulip"] { display: none; }
section:not([data-species="windflower"]) div.instructions[data-species="windflower"] { display: none; }

div.instructions div.page:not(.current_page) {
    display: none;
}

.result {
    position: absolute;
    right: 2px;
    bottom: 1px;
    font-size: 16px;
    text-align: center;
    text-shadow: 1px 0px 0 black,
                 1px 1px 0 black,
                 1px -1px 0 black,
                 -1px 0px 0 black,
                 -1px 1px 0 black,
                 -1px -1px 0 black,
                 0px -1px 0 black,
                 0px 1px 0 black;
    pointer-events: none;
}

.result::before,
.result::after {
    display: block;
}

.result[data-numerator]::before {
    content: attr(data-numerator);
}

.result[data-denominator]::after {
    content: attr(data-denominator);
    text-decoration: overline;
}

.result[data-percentage]::after {
    content: attr(data-percentage);
}

[data-breed-mode="all"] [data--a]::before,
[data-breed-mode="all"] [data--b]::after,
[data-breed-mode="clones"] [data--c]::before {
    content: var(--pool-letter);
    display: block;
    inline-size: fit-content;
    margin-top: 2px;
    margin-left: 2px;
    border-radius: 200px;
    padding: 1px 6px;
    background-color: rgba(0, 0, 0, 0.8);
    pointer-events: none;
}

[data-breed-mode="all"] [data--a]::before {
    --pool-count: attr(data--a);
    --pool-letter: "A";
}

[data-breed-mode="all"] [data--b]::after {
    --pool-count: attr(data--b);
    --pool-letter: "B";
}

[data-breed-mode="clones"] [data--c]::before {
    --pool-count: attr(data--c);
    --pool-letter: "C";
}

[data-breed-mode="all"] [data--a]:not([data--a="1"])::before,
[data-breed-mode="all"] [data--b]:not([data--b="1"])::after,
[data-breed-mode="clones"] [data--c]:not([data--c="1"])::before {
    content: var(--pool-count) var(--pool-letter);
}

div.varieties > *:nth-child(12),
div.varieties > *:nth-child(21) {
    margin-top: var(--big-gap);
}

div.varieties > *:nth-child(9n+1),
div.varieties > *:nth-child(9n+2),
div.varieties > *:nth-child(9n+3) {
    --row-skew-offset: var(--skew-offset);
}

div.varieties > *:nth-child(9n+7),
div.varieties > *:nth-child(9n+8),
div.varieties > *:nth-child(9n+9) {
    --row-skew-offset: calc(-1 * var(--skew-offset));
}

/* Instructions */
div.instructions {
    grid-column-start: 2;
}

div.instructions header {
    display: flex;
    align-items: center;
    margin-bottom: 18px;
    border-radius: 8px;
    background-color: rgba(0, 0, 0, 0.5);
}

div.instructions button.pager {
    margin: 0;
    border: 0;
    padding: 0;
    flex-basis: 40px;
    line-height: 40px;
    font-size: 24px;
    background: transparent none;
    color: inherit;
    overflow: hidden;
}

div.instructions header h4 {
    flex-grow: 1;
    margin: 0;
}

div.instructions ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0;
    padding: 0;
}

div.instructions ul li {
    margin-bottom: 4px;
    border-top: 2px solid rgba(255, 255, 255, 0.5);
    border-bottom: 2px solid rgba(var(--section-brown), 0.25);
    border-radius: 8px;
    background-color: rgb(var(--recipe-almond));
}

div.breed {
    display: flex;
    vertical-align: middle;
    align-items: center;
    padding: 4px 4px;
    color: rgb(var(--section-brown));
    cursor: pointer;
    font: 24px / 12px VegetalCrossing, Roboto, sans-serif;
}

div.breed.abridged::after {
    content: "⋯";
    margin-left: 4px;
}

div.breed:first-child {
    padding-top: 2px;
}

div.breed:last-child {
    padding-bottom: 2px;
}

div.breed + div.breed {
    border-top: 2px solid rgba(var(--section-brown), 0.5);
    padding-top: 4px;
}

.vcfont {
    line-height: 0.1;
    font-family: VegetalCrossing, Roboto;
    font-size: 150%;
    font-weight: normal;
}

div.breed .parent,
div.breed .offspring {
    display: flex;
    align-items: center;
}

div.breed .parent::after,
div.breed .offspring::after {
    content: "";
    position: relative;
    display: block;
    width: 40px;
    height: 40px;
    border: 1px solid rgba(var(--section-brown), 1);
    border-radius: 4px;
}

div.breed .parent + .parent::before,
div.breed .parent + .offspring::before {
    padding: 4px;
    font: 24px / 12px VegetalCrossing;
}

div.breed .parent + .parent::before {
    content: "×";
}

div.breed[data-mode="clones"] .parent + .parent::before {
    content: "⊙";
}

div.breed .parent + .offspring::before {
    content: "=";
}

div.breed .offspring + .offspring {
    margin-left: 4px;
}

button.repeat {
    display: block;
    width: 100%;
    margin: 0;
    border: 0;
    padding: 0;
    border-top: 2px solid rgba(var(--section-brown), 0.5);
    font: 24px VegetalCrossing;
    text-align: center;
    background: transparent;
    color: rgb(var(--section-brown));
    cursor: pointer;
}

/* Menu */
div.species_menu {
    margin: 16px 0 0;
    border-top: 3px solid #07645c;
    padding: 4px;
    background: rgba(var(--game-cream));
}

div.species_menu ul {
    list-style: none;
    max-width: 1600px;
    margin: 0 auto;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

div.species_menu ul button {
    display: block;
    width: 100%;
    height: 100%;
    max-width: 87px;
    margin: 0 auto;
    border: 0;
    border-radius: 100% / 100%;
    padding: 6px 0;
    background: transparent;
    cursor: pointer;
    transition: background-color 0.2s;
}

button:focus {
    outline: none;
}

div.species_menu ul button.selected {
    background-color: hsl(var(--selected-yellow), 1);
    background-image: repeating-linear-gradient(-45deg, rgba(0,0,0,0.08), rgba(0,0,0,0.08) 10%, transparent 10%, transparent 20%);
}

div.species_menu ul button img {
    height: auto;
    max-height: 72px;
    max-width: 100%;
}

footer {
    padding: 1px;
}

/* General colors */
.red {
    --phenotype: var(--red);
}

.orange {
    --phenotype: var(--orange);
}

.yellow {
    --phenotype: var(--yellow);
}

.green {
    --phenotype: var(--green);
}

.blue {
    --phenotype: var(--blue);
}

.purple {
    --phenotype: var(--purple);
}

.pink {
    --phenotype: var(--pink);
}

.white {
    --phenotype: var(--white);
}

.black {
    --phenotype: var(--black);
}

/* Crazy colors */
div.breed .red_orange_black::after {
    background: linear-gradient(90deg,
        rgb(var(--red)) 0px, rgb(var(--red)) 13px,
        rgb(var(--orange)) 13px, rgb(var(--orange)) 27px,
        rgb(var(--black)) 27px);
}

/* Icons */
div.breed .apple::after { background-image: url(icons/apple.png); }
div.breed .bamboo::after { background-image: url(icons/bamboo-piece.png); }
div.breed .boot::after { background-image: url(icons/boot.png); }
div.breed .cherry::after { background-image: url(icons/cherry.png); }
div.breed .clay::after { background-image: url(icons/clay.png); }
div.breed .weeds::after { background-image: url(icons/clump-of-weeds.png); }
div.breed .coconut::after { background-image: url(icons/coconut.png); }
div.breed .can::after { background-image: url(icons/empty-can.png); }
div.breed .cowrie::after { background-image: url(icons/cowrie.png); }
div.breed .fossil::after { background-image: url(icons/fossil.png); }
div.breed .gold::after { background-image: url(icons/gold-nugget.png); }
div.breed .iron::after { background-image: url(icons/iron-nugget.png); }
div.breed .citrus::after { background-image: url(icons/orange.png); }
div.breed .peach::after { background-image: url(icons/peach.png); }
div.breed .pear::after { background-image: url(icons/pear.png); }
div.breed .rotten::after { background-image: url(icons/rotten-turnip.png); }
div.breed .star::after { background-image: url(icons/star-fragment.png); }
div.breed .stone::after { background-image: url(icons/stone.png); }
div.breed .tire::after { background-image: url(icons/tire.png); }
div.breed .branch::after { background-image: url(icons/tree-branch.png); }
div.breed .turnip::after { background-image: url(icons/turnip.png); }
div.breed .nest::after { background-image: url(icons/wasp-nest.png); }
div.breed .wood::after { background-image: url(icons/wood.png); }

/* Species colors */
[data-species="cosmos"] {
    --red: 238, 64, 64;
    --orange: 253, 151, 23;
    --yellow: 255, 231, 71;
    --pink: 254, 126, 199;
    --white: 245, 248, 240;
    --black: 88, 38, 38;
}

[data-species="hyacinth"] {
    --red: 242, 36, 53;
    --orange: 255, 133, 52;
    --yellow: 245, 220, 37;
    --blue: 77, 93, 255;
    --purple: 142, 77, 255;
    --pink: 255, 171, 185;
    --white: 224, 235, 215;
}

[data-species="lily"] {
    --red: 221, 53, 44;
    --orange: 255, 157, 0;
    --yellow: 255, 236, 0;
    --pink: 255, 92, 178;
    --black: 91, 57, 71;
    --white: 247, 246, 231;
}

[data-species="mum"] {
    --red: 230, 46, 52;
    --pink: 255, 184, 205;
    --yellow: 255, 228, 51;
    --green: 205, 230, 46;
    --purple: 166, 46, 230;
    --white: 248, 255, 230;
}

[data-species="pansy"] {
    --red: 209, 38, 46;
    --orange: 230, 151, 59;
    --yellow: 254, 230, 51;
    --blue: 75, 81, 250;
    --purple: 144, 46, 230;
    --white: 233, 230, 242;
}

[data-species="rose3d"],
[data-species="rose"] {
    --red: 255, 54, 61;
    --orange: 255, 139, 51;
    --yellow: 255, 241, 38;
    --blue: 56, 96, 255;
    --purple: 150, 47, 137;
    --pink: 255, 148, 204;
    --white: 249, 255, 230;
    --black: 87, 77, 85;
    --black: 69, 52, 67;
}

[data-species="tulip"] {
    --red: 242, 75, 65;
    --orange: 255, 162, 61;
    --yellow: 255, 227, 89;
    --purple: 158, 78, 255;
    --white: 247, 250, 225;
    --black: 96, 53, 67;
}

[data-species="windflower"] {
    --red: 241, 27, 45;
    --orange: 255, 127, 0;
    --blue: 13, 102, 255;
    --purple: 150, 41, 204;
    --pink: 251, 140, 255;
    --white: 251, 250, 255;
}

[data-species="figure1"] {
    --red: 250, 80, 80;
    --white: 250, 250, 250;
    --green: 80, 250, 80;
}

/* Species genotype info */
[data-species="cosmos"] [title="022"] { --phenotype: var(--yellow); }
[data-species="cosmos"] [title="122"] { --phenotype: var(--orange); }
[data-species="cosmos"] [title="222"] { --phenotype: var(--red); }
[data-species="cosmos"] [title="012"] { --phenotype: var(--white); }
[data-species="cosmos"] [title="112"] { --phenotype: var(--pink); --obtain: var(--island); }
[data-species="cosmos"] [title="212"] { --phenotype: var(--red); }
[data-species="cosmos"] [title="002"] { --phenotype: var(--white); }
[data-species="cosmos"] [title="102"] { --phenotype: var(--pink); }
[data-species="cosmos"] [title="202"] { --phenotype: var(--red); }
[data-species="cosmos"] [title="021"] { --phenotype: var(--yellow); --obtain: var(--seed-yellow); }
[data-species="cosmos"] [title="121"] { --phenotype: var(--orange); }
[data-species="cosmos"] [title="221"] { --phenotype: var(--black); }
[data-species="cosmos"] [title="011"] { --phenotype: var(--yellow); }
[data-species="cosmos"] [title="111"] { --phenotype: var(--orange); }
[data-species="cosmos"] [title="211"] { --phenotype: var(--orange); --obtain: var(--island); }
[data-species="cosmos"] [title="001"] { --phenotype: var(--white); --obtain: var(--seed-white); }
[data-species="cosmos"] [title="101"] { --phenotype: var(--pink); }
[data-species="cosmos"] [title="201"] { --phenotype: var(--red); }
[data-species="cosmos"] [title="020"] { --phenotype: var(--yellow); }
[data-species="cosmos"] [title="120"] { --phenotype: var(--orange); }
[data-species="cosmos"] [title="220"] { --phenotype: var(--black); }
[data-species="cosmos"] [title="010"] { --phenotype: var(--yellow); }
[data-species="cosmos"] [title="110"] { --phenotype: var(--orange); }
[data-species="cosmos"] [title="210"] { --phenotype: var(--orange); }
[data-species="cosmos"] [title="000"] { --phenotype: var(--white); }
[data-species="cosmos"] [title="100"] { --phenotype: var(--pink); }
[data-species="cosmos"] [title="200"] { --phenotype: var(--red); --obtain: var(--seed-red); }

[data-species="hyacinth"] [title="022"] { --phenotype: var(--yellow); }
[data-species="hyacinth"] [title="122"] { --phenotype: var(--yellow); }
[data-species="hyacinth"] [title="222"] { --phenotype: var(--purple); }
[data-species="hyacinth"] [title="012"] { --phenotype: var(--white); }
[data-species="hyacinth"] [title="112"] { --phenotype: var(--yellow); }
[data-species="hyacinth"] [title="212"] { --phenotype: var(--red); }
[data-species="hyacinth"] [title="002"] { --phenotype: var(--blue); }
[data-species="hyacinth"] [title="102"] { --phenotype: var(--white); }
[data-species="hyacinth"] [title="202"] { --phenotype: var(--red); }
[data-species="hyacinth"] [title="021"] { --phenotype: var(--yellow); }
[data-species="hyacinth"] [title="121"] { --phenotype: var(--yellow); }
[data-species="hyacinth"] [title="221"] { --phenotype: var(--purple); }
[data-species="hyacinth"] [title="011"] { --phenotype: var(--yellow); }
[data-species="hyacinth"] [title="111"] { --phenotype: var(--yellow); }
[data-species="hyacinth"] [title="211"] { --phenotype: var(--red); }
[data-species="hyacinth"] [title="001"] { --phenotype: var(--white); --obtain: var(--seed-white); }
[data-species="hyacinth"] [title="101"] { --phenotype: var(--pink); --obtain: var(--island); }
[data-species="hyacinth"] [title="201"] { --phenotype: var(--red); --obtain: var(--seed-red); }
[data-species="hyacinth"] [title="020"] { --phenotype: var(--yellow); --obtain: var(--seed-yellow); }
[data-species="hyacinth"] [title="120"] { --phenotype: var(--orange); --obtain: var(--island); }
[data-species="hyacinth"] [title="220"] { --phenotype: var(--purple); }
[data-species="hyacinth"] [title="010"] { --phenotype: var(--yellow); }
[data-species="hyacinth"] [title="110"] { --phenotype: var(--orange); }
[data-species="hyacinth"] [title="210"] { --phenotype: var(--blue); --obtain: var(--island); }
[data-species="hyacinth"] [title="000"] { --phenotype: var(--white); }
[data-species="hyacinth"] [title="100"] { --phenotype: var(--red); }
[data-species="hyacinth"] [title="200"] { --phenotype: var(--red); }

[data-species="lily"] [title="022"] { --phenotype: var(--white); }
[data-species="lily"] [title="122"] { --phenotype: var(--yellow); }
[data-species="lily"] [title="222"] { --phenotype: var(--white); }
[data-species="lily"] [title="012"] { --phenotype: var(--white); }
[data-species="lily"] [title="112"] { --phenotype: var(--yellow); }
[data-species="lily"] [title="212"] { --phenotype: var(--pink); --obtain: var(--island); }
[data-species="lily"] [title="002"] { --phenotype: var(--white); --obtain: var(--seed-white); }
[data-species="lily"] [title="102"] { --phenotype: var(--white); }
[data-species="lily"] [title="202"] { --phenotype: var(--pink); }
[data-species="lily"] [title="021"] { --phenotype: var(--yellow); }
[data-species="lily"] [title="121"] { --phenotype: var(--yellow); }
[data-species="lily"] [title="221"] { --phenotype: var(--orange); --obtain: var(--island); }
[data-species="lily"] [title="011"] { --phenotype: var(--white); }
[data-species="lily"] [title="111"] { --phenotype: var(--yellow); }
[data-species="lily"] [title="211"] { --phenotype: var(--red); }
[data-species="lily"] [title="001"] { --phenotype: var(--white); }
[data-species="lily"] [title="101"] { --phenotype: var(--pink); }
[data-species="lily"] [title="201"] { --phenotype: var(--red); --obtain: var(--seed-red); }
[data-species="lily"] [title="020"] { --phenotype: var(--yellow); --obtain: var(--seed-yellow); }
[data-species="lily"] [title="120"] { --phenotype: var(--orange); }
[data-species="lily"] [title="220"] { --phenotype: var(--orange); }
[data-species="lily"] [title="010"] { --phenotype: var(--yellow); }
[data-species="lily"] [title="110"] { --phenotype: var(--orange); }
[data-species="lily"] [title="210"] { --phenotype: var(--black); --obtain: var(--island); }
[data-species="lily"] [title="000"] { --phenotype: var(--white); }
[data-species="lily"] [title="100"] { --phenotype: var(--red); }
[data-species="lily"] [title="200"] { --phenotype: var(--black); }

[data-species="mum"] [title="022"] { --phenotype: var(--yellow); }
[data-species="mum"] [title="122"] { --phenotype: var(--purple); }
[data-species="mum"] [title="222"] { --phenotype: var(--red); }
[data-species="mum"] [title="012"] { --phenotype: var(--white); }
[data-species="mum"] [title="112"] { --phenotype: var(--pink); --obtain: var(--island); }
[data-species="mum"] [title="212"] { --phenotype: var(--red); }
[data-species="mum"] [title="002"] { --phenotype: var(--purple); }
[data-species="mum"] [title="102"] { --phenotype: var(--pink); }
[data-species="mum"] [title="202"] { --phenotype: var(--red); }
[data-species="mum"] [title="021"] { --phenotype: var(--yellow); }
[data-species="mum"] [title="121"] { --phenotype: var(--purple); }
[data-species="mum"] [title="221"] { --phenotype: var(--green); }
[data-species="mum"] [title="011"] { --phenotype: var(--yellow); }
[data-species="mum"] [title="111"] { --phenotype: var(--red); }
[data-species="mum"] [title="211"] { --phenotype: var(--purple); --obtain: var(--island); }
[data-species="mum"] [title="001"] { --phenotype: var(--white); --obtain: var(--seed-white); }
[data-species="mum"] [title="101"] { --phenotype: var(--pink); }
[data-species="mum"] [title="201"] { --phenotype: var(--red); }
[data-species="mum"] [title="020"] { --phenotype: var(--yellow); --obtain: var(--seed-yellow); }
[data-species="mum"] [title="120"] { --phenotype: var(--purple); }
[data-species="mum"] [title="220"] { --phenotype: var(--green); }
[data-species="mum"] [title="010"] { --phenotype: var(--yellow); }
[data-species="mum"] [title="110"] { --phenotype: var(--yellow); }
[data-species="mum"] [title="210"] { --phenotype: var(--purple); }
[data-species="mum"] [title="000"] { --phenotype: var(--white); }
[data-species="mum"] [title="100"] { --phenotype: var(--pink); }
[data-species="mum"] [title="200"] { --phenotype: var(--red); --obtain: var(--seed-red); }

[data-species="pansy"] [title="022"] { --phenotype: var(--yellow); }
[data-species="pansy"] [title="122"] { --phenotype: var(--yellow); }
[data-species="pansy"] [title="222"] { --phenotype: var(--purple); }
[data-species="pansy"] [title="012"] { --phenotype: var(--blue); }
[data-species="pansy"] [title="112"] { --phenotype: var(--orange); }
[data-species="pansy"] [title="212"] { --phenotype: var(--purple); }
[data-species="pansy"] [title="002"] { --phenotype: var(--blue); }
[data-species="pansy"] [title="102"] { --phenotype: var(--blue); --obtain: var(--island); }
[data-species="pansy"] [title="202"] { --phenotype: var(--purple); }
[data-species="pansy"] [title="021"] { --phenotype: var(--yellow); }
[data-species="pansy"] [title="121"] { --phenotype: var(--yellow); }
[data-species="pansy"] [title="221"] { --phenotype: var(--orange); --obtain: var(--island); }
[data-species="pansy"] [title="011"] { --phenotype: var(--yellow); }
[data-species="pansy"] [title="111"] { --phenotype: var(--orange); }
[data-species="pansy"] [title="211"] { --phenotype: var(--red); }
[data-species="pansy"] [title="001"] { --phenotype: var(--white); --obtain: var(--seed-white); }
[data-species="pansy"] [title="101"] { --phenotype: var(--red); }
[data-species="pansy"] [title="201"] { --phenotype: var(--red); }
[data-species="pansy"] [title="020"] { --phenotype: var(--yellow); --obtain: var(--seed-yellow); }
[data-species="pansy"] [title="120"] { --phenotype: var(--yellow); }
[data-species="pansy"] [title="220"] { --phenotype: var(--orange); }
[data-species="pansy"] [title="010"] { --phenotype: var(--yellow); }
[data-species="pansy"] [title="110"] { --phenotype: var(--orange); }
[data-species="pansy"] [title="210"] { --phenotype: var(--red); }
[data-species="pansy"] [title="000"] { --phenotype: var(--white); }
[data-species="pansy"] [title="100"] { --phenotype: var(--red); }
[data-species="pansy"] [title="200"] { --phenotype: var(--red); --obtain: var(--seed-red); }

[data-species="rose"] [title="0220"] { --phenotype: var(--white); }
[data-species="rose"] [title="1220"] { --phenotype: var(--red); }
[data-species="rose"] [title="2220"] { --phenotype: var(--blue); }
[data-species="rose"] [title="0120"] { --phenotype: var(--purple); }
[data-species="rose"] [title="1120"] { --phenotype: var(--red); }
[data-species="rose"] [title="2120"] { --phenotype: var(--black); }
[data-species="rose"] [title="0020"] { --phenotype: var(--purple); }
[data-species="rose"] [title="1020"] { --phenotype: var(--red); }
[data-species="rose"] [title="2020"] { --phenotype: var(--black); }
[data-species="rose"] [title="0210"] { --phenotype: var(--yellow); }
[data-species="rose"] [title="1210"] { --phenotype: var(--orange); }
[data-species="rose"] [title="2210"] { --phenotype: var(--orange); }
[data-species="rose"] [title="0110"] { --phenotype: var(--white); }
[data-species="rose"] [title="1110"] { --phenotype: var(--red); }
[data-species="rose"] [title="2110"] { --phenotype: var(--red); }
[data-species="rose"] [title="0010"] { --phenotype: var(--white); --obtain: var(--seed-white); }
[data-species="rose"] [title="1010"] { --phenotype: var(--red); }
[data-species="rose"] [title="2010"] { --phenotype: var(--black); }
[data-species="rose"] [title="0200"] { --phenotype: var(--yellow); --obtain: var(--seed-yellow); }
[data-species="rose"] [title="1200"] { --phenotype: var(--orange); }
[data-species="rose"] [title="2200"] { --phenotype: var(--orange); }
[data-species="rose"] [title="0100"] { --phenotype: var(--yellow); }
[data-species="rose"] [title="1100"] { --phenotype: var(--orange); }
[data-species="rose"] [title="2100"] { --phenotype: var(--orange); }
[data-species="rose"] [title="0000"] { --phenotype: var(--white); }
[data-species="rose"] div.varieties [title="0000"][data-count="0"],
[data-species="rose"] div.varieties [title="0000"]:not([data-count]) {
    background-image: var(--gold-watering-can), linear-gradient(149.620874deg,
        rgba(var(--white), var(--background-opacity)) 56%,
        rgba(217, 152, 22, var(--background-opacity)) 57%,
        rgba(245, 204, 43, var(--background-opacity)),
        rgba(250, 230, 149, var(--background-opacity)));
    background-size: auto calc(var(--tile-height) / 2), auto;
    background-position: 95% 100%, center;
}
[data-species="rose"] [title="1000"] { --phenotype: var(--red); }
[data-species="rose"] [title="2000"] { --phenotype: var(--black); }
[data-species="rose"] [title="0221"] { --phenotype: var(--white); }
[data-species="rose"] [title="1221"] { --phenotype: var(--pink); }
[data-species="rose"] [title="2221"] { --phenotype: var(--red); }
[data-species="rose"] [title="0121"] { --phenotype: var(--purple); }
[data-species="rose"] [title="1121"] { --phenotype: var(--pink); }
[data-species="rose"] [title="2121"] { --phenotype: var(--red); }
[data-species="rose"] [title="0021"] { --phenotype: var(--purple); }
[data-species="rose"] [title="1021"] { --phenotype: var(--pink); }
[data-species="rose"] [title="2021"] { --phenotype: var(--red); }
[data-species="rose"] [title="0211"] { --phenotype: var(--yellow); }
[data-species="rose"] [title="1211"] { --phenotype: var(--yellow); }
[data-species="rose"] [title="2211"] { --phenotype: var(--orange); --obtain: var(--island); }
[data-species="rose"] [title="0111"] { --phenotype: var(--white); }
[data-species="rose"] [title="1111"] { --phenotype: var(--pink); }
[data-species="rose"] [title="2111"] { --phenotype: var(--red); }
[data-species="rose"] [title="0011"] { --phenotype: var(--white); }
[data-species="rose"] [title="1011"] { --phenotype: var(--pink); }
[data-species="rose"] [title="2011"] { --phenotype: var(--red); }
[data-species="rose"] [title="0201"] { --phenotype: var(--yellow); }
[data-species="rose"] [title="1201"] { --phenotype: var(--yellow); }
[data-species="rose"] [title="2201"] { --phenotype: var(--orange); }
[data-species="rose"] [title="0101"] { --phenotype: var(--yellow); }
[data-species="rose"] [title="1101"] { --phenotype: var(--yellow); }
[data-species="rose"] [title="2101"] { --phenotype: var(--orange); }
[data-species="rose"] [title="0001"] { --phenotype: var(--white); }
[data-species="rose"] [title="1001"] { --phenotype: var(--pink); }
[data-species="rose"] [title="2001"] { --phenotype: var(--red); --obtain: var(--seed-red); }
[data-species="rose"] [title="0222"] { --phenotype: var(--white); }
[data-species="rose"] [title="1222"] { --phenotype: var(--white); }
[data-species="rose"] [title="2222"] { --phenotype: var(--white); }
[data-species="rose"] [title="0122"] { --phenotype: var(--purple); }
[data-species="rose"] [title="1122"] { --phenotype: var(--purple); }
[data-species="rose"] [title="2122"] { --phenotype: var(--purple); }
[data-species="rose"] [title="0022"] { --phenotype: var(--purple); }
[data-species="rose"] [title="1022"] { --phenotype: var(--purple); }
[data-species="rose"] [title="2022"] { --phenotype: var(--pink); --obtain: var(--island); }
[data-species="rose"] [title="0212"] { --phenotype: var(--yellow); }
[data-species="rose"] [title="1212"] { --phenotype: var(--yellow); }
[data-species="rose"] [title="2212"] { --phenotype: var(--yellow); }
[data-species="rose"] [title="0112"] { --phenotype: var(--white); }
[data-species="rose"] [title="1112"] { --phenotype: var(--white); }
[data-species="rose"] [title="2112"] { --phenotype: var(--white); }
[data-species="rose"] [title="0012"] { --phenotype: var(--white); }
[data-species="rose"] [title="1012"] { --phenotype: var(--white); }
[data-species="rose"] [title="2012"] { --phenotype: var(--pink); }
[data-species="rose"] [title="0202"] { --phenotype: var(--yellow); }
[data-species="rose"] [title="1202"] { --phenotype: var(--yellow); }
[data-species="rose"] [title="2202"] { --phenotype: var(--yellow); }
[data-species="rose"] [title="0102"] { --phenotype: var(--yellow); }
[data-species="rose"] [title="1102"] { --phenotype: var(--yellow); }
[data-species="rose"] [title="2102"] { --phenotype: var(--yellow); }
[data-species="rose"] [title="0002"] { --phenotype: var(--white); }
[data-species="rose"] [title="1002"] { --phenotype: var(--white); }
[data-species="rose"] [title="2002"] { --phenotype: var(--pink); }

[data-species="tulip"] [title="022"] { --phenotype: var(--yellow); }
[data-species="tulip"] [title="122"] { --phenotype: var(--yellow); }
[data-species="tulip"] [title="222"] { --phenotype: var(--purple); }
[data-species="tulip"] [title="012"] { --phenotype: var(--white); }
[data-species="tulip"] [title="112"] { --phenotype: var(--yellow); }
[data-species="tulip"] [title="212"] { --phenotype: var(--red); }
[data-species="tulip"] [title="002"] { --phenotype: var(--white); }
[data-species="tulip"] [title="102"] { --phenotype: var(--white); }
[data-species="tulip"] [title="202"] { --phenotype: var(--red); }
[data-species="tulip"] [title="021"] { --phenotype: var(--yellow); }
[data-species="tulip"] [title="121"] { --phenotype: var(--yellow); }
[data-species="tulip"] [title="221"] { --phenotype: var(--purple); }
[data-species="tulip"] [title="011"] { --phenotype: var(--yellow); }
[data-species="tulip"] [title="111"] { --phenotype: var(--yellow); }
[data-species="tulip"] [title="211"] { --phenotype: var(--red); }
[data-species="tulip"] [title="001"] { --phenotype: var(--white); --obtain: var(--seed-white); }
[data-species="tulip"] [title="101"] { --phenotype: var(--pink); --obtain: var(--island); }
[data-species="tulip"] [title="201"] { --phenotype: var(--red); --obtain: var(--seed-red); }
[data-species="tulip"] [title="020"] { --phenotype: var(--yellow); --obtain: var(--seed-yellow); }
[data-species="tulip"] [title="120"] { --phenotype: var(--orange); --obtain: var(--island); }
[data-species="tulip"] [title="220"] { --phenotype: var(--purple); }
[data-species="tulip"] [title="010"] { --phenotype: var(--yellow); }
[data-species="tulip"] [title="110"] { --phenotype: var(--orange); }
[data-species="tulip"] [title="210"] { --phenotype: var(--black); --obtain: var(--island); }
[data-species="tulip"] [title="000"] { --phenotype: var(--white); }
[data-species="tulip"] [title="100"] { --phenotype: var(--red); }
[data-species="tulip"] [title="200"] { --phenotype: var(--black); }

[data-species="windflower"] [title="022"] { --phenotype: var(--orange); }
[data-species="windflower"] [title="122"] { --phenotype: var(--orange); }
[data-species="windflower"] [title="222"] { --phenotype: var(--purple); }
[data-species="windflower"] [title="012"] { --phenotype: var(--blue); }
[data-species="windflower"] [title="112"] { --phenotype: var(--pink); }
[data-species="windflower"] [title="212"] { --phenotype: var(--purple); }
[data-species="windflower"] [title="002"] { --phenotype: var(--blue); }
[data-species="windflower"] [title="102"] { --phenotype: var(--blue); --obtain: var(--island); }
[data-species="windflower"] [title="202"] { --phenotype: var(--purple); }
[data-species="windflower"] [title="021"] { --phenotype: var(--orange); }
[data-species="windflower"] [title="121"] { --phenotype: var(--orange); }
[data-species="windflower"] [title="221"] { --phenotype: var(--pink); --obtain: var(--island); }
[data-species="windflower"] [title="011"] { --phenotype: var(--orange); }
[data-species="windflower"] [title="111"] { --phenotype: var(--pink); }
[data-species="windflower"] [title="211"] { --phenotype: var(--red); }
[data-species="windflower"] [title="001"] { --phenotype: var(--white); --obtain: var(--seed-white); }
[data-species="windflower"] [title="101"] { --phenotype: var(--red); }
[data-species="windflower"] [title="201"] { --phenotype: var(--red); }
[data-species="windflower"] [title="020"] { --phenotype: var(--orange); --obtain: var(--seed-orange); }
[data-species="windflower"] [title="120"] { --phenotype: var(--orange); }
[data-species="windflower"] [title="220"] { --phenotype: var(--pink); }
[data-species="windflower"] [title="010"] { --phenotype: var(--orange); }
[data-species="windflower"] [title="110"] { --phenotype: var(--pink); }
[data-species="windflower"] [title="210"] { --phenotype: var(--red); }
[data-species="windflower"] [title="000"] { --phenotype: var(--white); }
[data-species="windflower"] [title="100"] { --phenotype: var(--red); }
[data-species="windflower"] [title="200"] { --phenotype: var(--red); --obtain: var(--seed-red); }

[data-species="figure1"] [title="022"] { --phenotype: var(--white); }
[data-species="figure1"] [title="122"] { --phenotype: var(--white); }
[data-species="figure1"] [title="222"] { --phenotype: var(--green); }
[data-species="figure1"] [title="012"] { --phenotype: var(--white); }
[data-species="figure1"] [title="112"] { --phenotype: var(--white); }
[data-species="figure1"] [title="212"] { --phenotype: var(--white); }
[data-species="figure1"] [title="002"] { --phenotype: var(--white); }
[data-species="figure1"] [title="102"] { --phenotype: var(--white); }
[data-species="figure1"] [title="202"] { --phenotype: var(--white); }
[data-species="figure1"] [title="021"] { --phenotype: var(--white); }
[data-species="figure1"] [title="121"] { --phenotype: var(--white); }
[data-species="figure1"] [title="221"] { --phenotype: var(--white); }
[data-species="figure1"] [title="011"] { --phenotype: var(--white); }
[data-species="figure1"] [title="111"] { --phenotype: var(--red); --obtain: var(--seed-white); }
[data-species="figure1"] [title="211"] { --phenotype: var(--white); }
[data-species="figure1"] [title="001"] { --phenotype: var(--white); }
[data-species="figure1"] [title="101"] { --phenotype: var(--white); }
[data-species="figure1"] [title="201"] { --phenotype: var(--white); }
[data-species="figure1"] [title="020"] { --phenotype: var(--white); }
[data-species="figure1"] [title="120"] { --phenotype: var(--white); }
[data-species="figure1"] [title="220"] { --phenotype: var(--white); }
[data-species="figure1"] [title="010"] { --phenotype: var(--white); }
[data-species="figure1"] [title="110"] { --phenotype: var(--white); }
[data-species="figure1"] [title="210"] { --phenotype: var(--white); }
[data-species="figure1"] [title="000"] { --phenotype: var(--white); }
[data-species="figure1"] [title="100"] { --phenotype: var(--white); }
[data-species="figure1"] [title="200"] { --phenotype: var(--white); }

[data-species="rose3d"] [title="022"] { --phenotype: var(--white); }
[data-species="rose3d"] [title="122"] { --phenotype: var(--red); }
[data-species="rose3d"] [title="222"] { --phenotype: var(--blue); }
[data-species="rose3d"] [title="012"] { --phenotype: var(--purple); }
[data-species="rose3d"] [title="112"] { --phenotype: var(--red); }
[data-species="rose3d"] [title="212"] { --phenotype: var(--black); }
[data-species="rose3d"] [title="002"] { --phenotype: var(--purple); }
[data-species="rose3d"] [title="102"] { --phenotype: var(--red); }
[data-species="rose3d"] [title="202"] { --phenotype: var(--black); }
[data-species="rose3d"] [title="021"] { --phenotype: var(--yellow); }
[data-species="rose3d"] [title="121"] { --phenotype: var(--orange); }
[data-species="rose3d"] [title="221"] { --phenotype: var(--orange); }
[data-species="rose3d"] [title="011"] { --phenotype: var(--white); }
[data-species="rose3d"] [title="111"] { --phenotype: var(--red); }
[data-species="rose3d"] [title="211"] { --phenotype: var(--red); }
[data-species="rose3d"] [title="001"] { --phenotype: var(--white); --obtain: var(--seed-white); }
[data-species="rose3d"] [title="101"] { --phenotype: var(--red); }
[data-species="rose3d"] [title="201"] { --phenotype: var(--black); }
[data-species="rose3d"] [title="020"] { --phenotype: var(--yellow); --obtain: var(--seed-yellow); }
[data-species="rose3d"] [title="120"] { --phenotype: var(--orange); }
[data-species="rose3d"] [title="220"] { --phenotype: var(--orange); }
[data-species="rose3d"] [title="010"] { --phenotype: var(--yellow); }
[data-species="rose3d"] [title="110"] { --phenotype: var(--orange); }
[data-species="rose3d"] [title="210"] { --phenotype: var(--orange); }
[data-species="rose3d"] [title="000"] { --phenotype: var(--white); }
[data-species="rose3d"] [title="100"] { --phenotype: var(--red); }
[data-species="rose3d"] [title="200"] { --phenotype: var(--black); }

@media only screen and (min-width: 640px) {

    div.species_menu ul {
        grid-template-columns: repeat(8, 1fr);
    }

    div.options ul {
        display: flex;
        justify-content: center;
    }

}

@media only screen and (min-width: 720px) {

    section {
        grid-template-columns: 1fr 345px;
    }

    .diagram {
        grid-column: auto;
    }

    section div.instructions {
        grid-column: auto;
    }

    div.instructions p {
        margin-right: 36px;
    }

    div.help figure {
        float: right;
        max-width: 400px;
        margin-left: 36px;
        margin-right: 0;
        padding-bottom: 0;
    }

}

@media only screen and (min-width: 900px) {

    .diagram[data-species="rose"].condensed {
        --tile-width: 84px;
    }

    .diagram[data-species="rose"].condensed div.varieties > div {
        font-size: 19px;
    }

    .diagram[data-species="rose"].condensed div.varieties .result {
        font-size: 16px;
    }

}

@media only screen and (min-width: 1366px) {

    .diagram {
        display: flex;
        justify-content: space-evenly;
    }

    div.varieties {
        margin: 0;
    }

    div.varieties.four_d:not(:last-child) {
        margin-bottom: 0;
        border-bottom: 0;
        padding-bottom: 0;
    }

}
