@font-face {
    font-family: 'VegetalCrossing';
    src: url('VegetalCrossing4.1.woff2') format('woff2');
}

:root {
    --phenotype: rgba(255, 255, 255, 0.05); /* Default phenotype for visibility */
    --background-opacity: 1.0;
    --island: url(nmt.png);
    --seed-red: url(seed-red.png);
    --seed-yellow: url(seed-yellow.png);
    --seed-white: url(seed-white.png);
    --seed-orange: url(seed-orange.png);
    --gold-watering-can: url(tool-gold-watering-can.png);
    --obtain: none;
    --tile-width: 84px;
    --tile-height: 48px;
    --tile-skew: skew(-26.5650512deg);
    --far-border: 1px;
    --near-border: 2px;
    --gap: 2px;
    --big-gap: 13px;
    --skew-offset: calc((var(--far-border) + var(--tile-height) + var(--near-border) + var(--gap)) / 2);
    --row-skew-offset: 0;
    --highlight-offset: 0;
    --tile-translate: translate(var(--row-skew-offset), var(--highlight-offset));
    --heading-red: 206, 9, 74;
    --section-brown: 78, 68, 49;
    --game-cream: 255, 250, 228;
    --game-cyan: 12, 198, 184;
    --game-cyan-dark: 0, 180, 168;
    --game-cyan-dark2: 60, 176, 165;
    /* Default colors */
    --red: 255, 0, 0;
    --orange: 255, 128, 0;
    --yellow: 255, 255, 0;
    --green: 0, 255, 0;
    --blue: 0, 0, 255;
    --purple: 128, 0, 255;
    --pink: 255, 128, 255;
    --white: 255, 255, 255;
    --black: 0, 0, 0;
}

html {
    background-color: rgb(var(--game-cyan));
}

body {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    line-height: 1.5;
    background-color: #ffffff;
    color: #005c56;
}

header {
    padding: 1px;
    line-height: 1;
}

a {
    color: rgb(var(--section-brown));
}

header h1,
header h2,
header h3 {
    margin: 0.5em 0 0;
}

header p {
    font-size: 16px;
    line-height: 1.5;
}

.bodytext {
    width: 75%;
    max-width: 1200px;
    margin: 0 auto;
}

button#toggle_help {
    position: absolute;
    right: 0;
    top: 0;
    border: 0;
    width: 1.5em;
    line-height: 1.5;
    border-radius: 100px 0 100px 100px;
    font-size: 36px;
    font-weight: 900;
    background-color: rgb(var(--section-brown));
    color: white;
}

div.help {
    padding-bottom: 24px;
}

div.help h1,
div.help h2,
div.help h3 {
    color: rgb(var(--heading-red));
}

section {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-top: 36px;
    padding-bottom: 36px;
    background-color: rgb(var(--section-brown));
    color: white;
    overflow: hidden;
}

h1, h2, h3 {
    font-family: "Zilla Slab", serif;
}

div.options {
    background-color: #716855;
}

div.options ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

div.options button {
    margin: 0;
    border: 0;
    border-left: 1px solid rgba(255, 255, 255, 0.2);
    border-right: 1px solid rgba(0, 0, 0, 0.2);
    padding: 8px 12px;
    font: 18px "Zilla Slab", serif;
    font-weight: bold;
    background: transparent;
    color: rgb(var(--game-cream));
}

section:not(.rose) button#condensed_view {
    opacity: 0.3;
}

ol, ul {
    padding-left: 1.5em;
}

div.notes {
    display: none;
    flex-basis: 100%;
    padding: 0 36px 36px;
}

div.rolled_up {
    height: 0;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
    overflow: hidden;
}

div.diagram {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

div.varieties {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: flex-start;
    align-items: flex-end;
    width: calc(3 * (var(--far-border) + var(--tile-width) + var(--near-border)) + 2 * var(--gap));
}

div.varieties [data-genotypes],
[data-genotypes]::after {
    background: rgba(var(--phenotype), var(--background-opacity)) var(--obtain) no-repeat center;
    background-size: auto calc(var(--tile-height) / 2);
}

div.varieties > div {
    width: var(--tile-width);
    height: var(--tile-height);
    margin-bottom: var(--gap);
    border-top: var(--far-border) solid rgba(255, 255, 255, 0.1);
    border-right: var(--near-border) solid rgba(0, 0, 0, 0.2);
    border-bottom: var(--near-border) solid rgba(0, 0, 0, 0.2);
    border-left: var(--far-border) solid rgba(255, 255, 255, 0.1);
    border-radius: 2px;
    box-shadow: 1px 1px 0 rgba(0, 0, 0, 0.2);
    line-height: 1;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    user-select: none;
    transform: translate(var(--row-skew-offset), var(--highlight-offset)) var(--tile-skew);
    transform-origin: center;
    transition: background-color 0.2s;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

div.varieties > div.highlighted {
    --highlight-offset: -6px;
    box-shadow: 0 0 0 2px rgba(0, 0, 0, 1), 4.5px 8px 2px rgba(0, 0, 0, 0.6);
    z-index: 2;
}

div.varieties > div.impossible {
    --background-opacity: 0.2;
    border-top-color: rgba(255, 255, 255, 0.02);
    border-right-color: rgba(0, 0, 0, 0.02);
    border-bottom-color: rgba(0, 0, 0, 0.02);
    border-left-color: rgba(255, 255, 255, 0.02);
}

div.varieties > div.impossible.highlighted {
    box-shadow: 1px 1px 0 2px rgba(0, 0, 0, 0.2), 4px 7px 2px rgba(0, 0, 0, 0.12);
}


section.rose.condensed div.varieties.Ss {
    width: calc(var(--far-border) + var(--tile-width) + var(--near-border));
}

section.rose.condensed div.varieties.Ss .boring:nth-child(3n+1),
section.rose.condensed div.varieties.Ss .boring:nth-child(3n+2) {
    display: none;
}

section:not(.rose) div.varieties.four_d,
section.rose div.varieties.three_d {
    display: none;
}

section.rose.condensed div.varieties.SS {
    display: none;
}

section.rose div.blue_rose_notes {
    display: block;
}

section:not(.cosmos) div.instructions.cosmos { display: none; }
section:not(.hyacinth) div.instructions.hyacinth { display: none; }
section:not(.lily) div.instructions.lily { display: none; }
section:not(.mum) div.instructions.mum { display: none; }
section:not(.pansy) div.instructions.pansy { display: none; }
section:not(.rose) div.instructions.rose { display: none; }
section:not(.tulip) div.instructions.tulip { display: none; }
section:not(.windflower) div.instructions.windflower { display: none; }

section.rose.condensed div.notes .boring {
    display: none;
}

.result {
    text-shadow: 1px 0px 0 black,
                 1px 1px 0 black,
                 1px -1px 0 black,
                 -1px 0px 0 black,
                 -1px 1px 0 black,
                 -1px -1px 0 black,
                 0px -1px 0 black,
                 0px 1px 0 black;
    font-size: 16px;
    font-weight: bold;
    pointer-events: none;
}

.result {
    position: absolute;
    right: 2px;
    bottom: 1px;
    text-align: center;
}

.result > div:nth-child(2) {
    text-decoration: overline;
}

.parentA,
.parentB,
.parentC {
    margin-top: 2px;
    margin-left: 2px;
    pointer-events: none;
}

.parentA > div,
.parentB > div,
.parentC > div {
    display: inline-block;
    padding: 1px 6px;
    font-size: 19px;
    font-weight: bold;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 200px;
    pointer-events: none;
}

div.varieties > *:nth-child(12),
div.varieties > *:nth-child(21) {
    margin-top: var(--big-gap);
}

div.varieties > *:nth-child(9n+1),
div.varieties > *:nth-child(9n+2),
div.varieties > *:nth-child(9n+3) {
    --row-skew-offset: var(--skew-offset);
}

div.varieties > *:nth-child(9n+7),
div.varieties > *:nth-child(9n+8),
div.varieties > *:nth-child(9n+9) {
    --row-skew-offset: calc(-1 * var(--skew-offset));
}

/* Instructions */
div.instructions ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0;
    padding: 0;
}

div.instructions ul li {
    margin-bottom: 4px;
    border-top: 2px solid #ffffff;
    border-bottom: 2px solid rgba(var(--section-brown), 0.25);
    border-radius: 8px;
    background-color: rgb(var(--game-cream));
}

div.breed {
    display: flex;
    vertical-align: middle;
    align-items: center;
    padding: 4px 4px;
    color: rgb(var(--section-brown));
    cursor: pointer;
    font: 24px / 12px VegetalCrossing, Roboto, sans-serif;
}

div.breed.abridged::after {
    content: "⋯";
    margin-left: 4px;
}

div.breed:first-child {
    padding-top: 2px;
}

div.breed:last-child {
    padding-bottom: 2px;
}

div.breed + div.breed {
    border-top: 2px solid rgba(var(--section-brown), 0.5);
    padding-top: 4px;
}

.vcfont {
    line-height: 0.1;
    font-family: VegetalCrossing, Roboto;
    font-size: 24px;
    font-weight: normal;
}

div.breed .parent,
div.breed .offspring {
    display: flex;
    align-items: center;
}

div.breed .parent::after,
div.breed .offspring::after {
    content: "";
    position: relative;
    display: block;
    width: 40px;
    height: 40px;
    border: 1px solid rgba(var(--section-brown), 1);
    border-radius: 4px;
}

div.breed .parent + .parent::before,
div.breed .parent + .offspring::before {
    padding: 4px;
    font: 24px / 12px VegetalCrossing;
}

div.breed .parent + .parent::before {
    content: "×";
}

div.breed[data-mode="clones"] .parent + .parent::before {
    content: "⊙";
}

div.breed .parent + .offspring::before {
    content: "=";
}

div.breed .offspring + .offspring {
    margin-left: 4px;
}

div.repeat {
    border-top: 2px solid rgba(var(--section-brown), 0.5);
    font: 24px VegetalCrossing;
    text-align: center;
    color: rgb(var(--section-brown));
    cursor: default;
}

/* Menu */
div.species_menu {
    margin: 16px 0 0;
    border-top: 3px solid #07645c;
    padding: 4px;
    background: rgba(var(--game-cream));
}

div.species_menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
}

div.species_menu ul button {
    display: block;
    width: 100%;
    height: 100%;
    max-width: 87px;
    margin: 0 auto;
    border: 0;
    border-radius: 100% / 100%;
    padding: 6px 0;
    background: transparent;
    cursor: pointer;
    transition: background-color 0.2s;
}

button:focus {
    outline: none;
}

div.species_menu ul button.selected {
    background-color: hsla(50, 135%, 50%, 1);
    background-image: repeating-linear-gradient(-45deg, rgba(0,0,0,0.08), rgba(0,0,0,0.08) 10%, transparent 10%, transparent 20%);
}

div.species_menu ul button img {
    height: auto;
    max-height: 72px;
    max-width: 100%;
}

footer {
    padding: 1px;
}

/* General colors */
.red {
    --phenotype: var(--red);
}

.orange {
    --phenotype: var(--orange);
}

.yellow {
    --phenotype: var(--yellow);
}

.green {
    --phenotype: var(--green);
}

.blue {
    --phenotype: var(--blue);
}

.purple {
    --phenotype: var(--purple);
}

.pink {
    --phenotype: var(--pink);
}

.white {
    --phenotype: var(--white);
}

.black {
    --phenotype: var(--black);
}

/* Crazy colors */
div.breed .red_orange_black::after {
    background: linear-gradient(90deg,
        rgb(var(--red)) 0px, rgb(var(--red)) 13px,
        rgb(var(--orange)) 13px, rgb(var(--orange)) 27px,
        rgb(var(--black)) 27px);
}

/* Icons */
.apple::after { background-image: url(icons/apple.png); }
.bamboo::after { background-image: url(icons/bamboo-piece.png); }
.boot::after { background-image: url(icons/boot.png); }
.cherry::after { background-image: url(icons/cherry.png); }
.clay::after { background-image: url(icons/clay.png); }
.weeds::after { background-image: url(icons/clump-of-weeds.png); }
.coconut::after { background-image: url(icons/coconut.png); }
.can::after { background-image: url(icons/empty-can.png); }
.fossil::after { background-image: url(icons/fossil.png); }
.gold::after { background-image: url(icons/gold-nugget.png); }
.iron::after { background-image: url(icons/iron-nugget.png); }
.citrus::after { background-image: url(icons/orange.png); }
.peach::after { background-image: url(icons/peach.png); }
.pear::after { background-image: url(icons/pear.png); }
.rotten::after { background-image: url(icons/rotten-turnip.png); }
.star::after { background-image: url(icons/star-fragment.png); }
.stone::after { background-image: url(icons/stone.png); }
.tire::after { background-image: url(icons/tire.png); }
.branch::after { background-image: url(icons/tree-branch.png); }
.turnip::after { background-image: url(icons/turnip.png); }
.nest::after { background-image: url(icons/wasp-nest.png); }
.wood::after { background-image: url(icons/wood.png); }

/* Species colors */
.cosmos {
    --red: 238, 64, 64;
    --orange: 253, 151, 23;
    --yellow: 255, 231, 71;
    --pink: 254, 126, 199;
    --white: 245, 248, 240;
    --black: 88, 38, 38;
}

.hyacinth {
    --red: 242, 36, 53;
    --orange: 255, 133, 52;
    --yellow: 245, 220, 37;
    --blue: 77, 93, 255;
    --purple: 142, 77, 255;
    --pink: 255, 171, 185;
    --white: 224, 235, 215;
}

.lily {
    --red: 221, 53, 44;
    --orange: 255, 157, 0;
    --yellow: 255, 236, 0;
    --pink: 255, 92, 178;
    --black: 91, 57, 71;
    --white: 247, 246, 231;
}

.mum {
    --red: 230, 46, 52;
    --pink: 255, 184, 205;
    --yellow: 255, 228, 51;
    --green: 205, 230, 46;
    --purple: 166, 46, 230;
    --white: 248, 255, 230;
}

.pansy {
    --red: 209, 38, 46;
    --orange: 230, 151, 59;
    --yellow: 254, 230, 51;
    --blue: 75, 81, 250;
    --purple: 144, 46, 230;
    --white: 233, 230, 242;
}

.rose {
    --red: 255, 54, 61;
    --orange: 255, 139, 51;
    --yellow: 255, 241, 38;
    --blue: 56, 96, 255;
    --purple: 150, 47, 137;
    --pink: 255, 148, 204;
    --white: 249, 255, 230;
    --black: 87, 77, 85;
    --black: 69, 52, 67;
}

.tulip {
    --red: 242, 75, 65;
    --orange: 255, 162, 61;
    --yellow: 255, 227, 89;
    --purple: 158, 78, 255;
    --white: 247, 250, 225;
    --black: 96, 53, 67;
}

.windflower {
    --red: 241, 27, 45;
    --orange: 255, 127, 0;
    --blue: 13, 102, 255;
    --purple: 150, 41, 204;
    --pink: 251, 140, 255;
    --white: 251, 250, 255;
}

/* Species genotype info */
.cosmos [data-genotypes="rrYYWW"] { --phenotype: var(--yellow); }
.cosmos [data-genotypes="RrYYWW"] { --phenotype: var(--orange); }
.cosmos [data-genotypes="RRYYWW"] { --phenotype: var(--red); }
.cosmos [data-genotypes="rrYyWW"] { --phenotype: var(--white); }
.cosmos [data-genotypes="RrYyWW"] { --phenotype: var(--pink); --obtain: var(--island); }
.cosmos [data-genotypes="RRYyWW"] { --phenotype: var(--red); }
.cosmos [data-genotypes="rryyWW"] { --phenotype: var(--white); }
.cosmos [data-genotypes="RryyWW"] { --phenotype: var(--pink); }
.cosmos [data-genotypes="RRyyWW"] { --phenotype: var(--red); }
.cosmos [data-genotypes="rrYYWw"] { --phenotype: var(--yellow); --obtain: var(--seed-yellow); }
.cosmos [data-genotypes="RrYYWw"] { --phenotype: var(--orange); }
.cosmos [data-genotypes="RRYYWw"] { --phenotype: var(--black); }
.cosmos [data-genotypes="rrYyWw"] { --phenotype: var(--yellow); }
.cosmos [data-genotypes="RrYyWw"] { --phenotype: var(--orange); }
.cosmos [data-genotypes="RRYyWw"] { --phenotype: var(--orange); --obtain: var(--island); }
.cosmos [data-genotypes="rryyWw"] { --phenotype: var(--white); --obtain: var(--seed-white); }
.cosmos [data-genotypes="RryyWw"] { --phenotype: var(--pink); }
.cosmos [data-genotypes="RRyyWw"] { --phenotype: var(--red); }
.cosmos [data-genotypes="rrYYww"] { --phenotype: var(--yellow); }
.cosmos [data-genotypes="RrYYww"] { --phenotype: var(--orange); }
.cosmos [data-genotypes="RRYYww"] { --phenotype: var(--black); }
.cosmos [data-genotypes="rrYyww"] { --phenotype: var(--yellow); }
.cosmos [data-genotypes="RrYyww"] { --phenotype: var(--orange); }
.cosmos [data-genotypes="RRYyww"] { --phenotype: var(--orange); }
.cosmos [data-genotypes="rryyww"] { --phenotype: var(--white); }
.cosmos [data-genotypes="Rryyww"] { --phenotype: var(--pink); }
.cosmos [data-genotypes="RRyyww"] { --phenotype: var(--red); --obtain: var(--seed-red); }

.hyacinth [data-genotypes="rrYYWW"] { --phenotype: var(--yellow); }
.hyacinth [data-genotypes="RrYYWW"] { --phenotype: var(--yellow); }
.hyacinth [data-genotypes="RRYYWW"] { --phenotype: var(--purple); }
.hyacinth [data-genotypes="rrYyWW"] { --phenotype: var(--white); }
.hyacinth [data-genotypes="RrYyWW"] { --phenotype: var(--yellow); }
.hyacinth [data-genotypes="RRYyWW"] { --phenotype: var(--red); }
.hyacinth [data-genotypes="rryyWW"] { --phenotype: var(--blue); }
.hyacinth [data-genotypes="RryyWW"] { --phenotype: var(--white); }
.hyacinth [data-genotypes="RRyyWW"] { --phenotype: var(--red); }
.hyacinth [data-genotypes="rrYYWw"] { --phenotype: var(--yellow); }
.hyacinth [data-genotypes="RrYYWw"] { --phenotype: var(--yellow); }
.hyacinth [data-genotypes="RRYYWw"] { --phenotype: var(--purple); }
.hyacinth [data-genotypes="rrYyWw"] { --phenotype: var(--yellow); }
.hyacinth [data-genotypes="RrYyWw"] { --phenotype: var(--yellow); }
.hyacinth [data-genotypes="RRYyWw"] { --phenotype: var(--red); }
.hyacinth [data-genotypes="rryyWw"] { --phenotype: var(--white); --obtain: var(--seed-white); }
.hyacinth [data-genotypes="RryyWw"] { --phenotype: var(--pink); --obtain: var(--island); }
.hyacinth [data-genotypes="RRyyWw"] { --phenotype: var(--red); --obtain: var(--seed-red); }
.hyacinth [data-genotypes="rrYYww"] { --phenotype: var(--yellow); --obtain: var(--seed-yellow); }
.hyacinth [data-genotypes="RrYYww"] { --phenotype: var(--orange); --obtain: var(--island); }
.hyacinth [data-genotypes="RRYYww"] { --phenotype: var(--purple); }
.hyacinth [data-genotypes="rrYyww"] { --phenotype: var(--yellow); }
.hyacinth [data-genotypes="RrYyww"] { --phenotype: var(--orange); }
.hyacinth [data-genotypes="RRYyww"] { --phenotype: var(--blue); --obtain: var(--island); }
.hyacinth [data-genotypes="rryyww"] { --phenotype: var(--white); }
.hyacinth [data-genotypes="Rryyww"] { --phenotype: var(--red); }
.hyacinth [data-genotypes="RRyyww"] { --phenotype: var(--red); }

.lily [data-genotypes="rrYYWW"] { --phenotype: var(--white); }
.lily [data-genotypes="RrYYWW"] { --phenotype: var(--yellow); }
.lily [data-genotypes="RRYYWW"] { --phenotype: var(--white); }
.lily [data-genotypes="rrYyWW"] { --phenotype: var(--white); }
.lily [data-genotypes="RrYyWW"] { --phenotype: var(--yellow); }
.lily [data-genotypes="RRYyWW"] { --phenotype: var(--pink); --obtain: var(--island); }
.lily [data-genotypes="rryyWW"] { --phenotype: var(--white); --obtain: var(--seed-white); }
.lily [data-genotypes="RryyWW"] { --phenotype: var(--white); }
.lily [data-genotypes="RRyyWW"] { --phenotype: var(--pink); }
.lily [data-genotypes="rrYYWw"] { --phenotype: var(--yellow); }
.lily [data-genotypes="RrYYWw"] { --phenotype: var(--yellow); }
.lily [data-genotypes="RRYYWw"] { --phenotype: var(--orange); --obtain: var(--island); }
.lily [data-genotypes="rrYyWw"] { --phenotype: var(--white); }
.lily [data-genotypes="RrYyWw"] { --phenotype: var(--yellow); }
.lily [data-genotypes="RRYyWw"] { --phenotype: var(--red); }
.lily [data-genotypes="rryyWw"] { --phenotype: var(--white); }
.lily [data-genotypes="RryyWw"] { --phenotype: var(--pink); }
.lily [data-genotypes="RRyyWw"] { --phenotype: var(--red); --obtain: var(--seed-red); }
.lily [data-genotypes="rrYYww"] { --phenotype: var(--yellow); --obtain: var(--seed-yellow); }
.lily [data-genotypes="RrYYww"] { --phenotype: var(--orange); }
.lily [data-genotypes="RRYYww"] { --phenotype: var(--orange); }
.lily [data-genotypes="rrYyww"] { --phenotype: var(--yellow); }
.lily [data-genotypes="RrYyww"] { --phenotype: var(--orange); }
.lily [data-genotypes="RRYyww"] { --phenotype: var(--black); --obtain: var(--island); }
.lily [data-genotypes="rryyww"] { --phenotype: var(--white); }
.lily [data-genotypes="Rryyww"] { --phenotype: var(--red); }
.lily [data-genotypes="RRyyww"] { --phenotype: var(--black); }

.mum [data-genotypes="rrYYWW"] { --phenotype: var(--yellow); }
.mum [data-genotypes="RrYYWW"] { --phenotype: var(--purple); }
.mum [data-genotypes="RRYYWW"] { --phenotype: var(--red); }
.mum [data-genotypes="rrYyWW"] { --phenotype: var(--white); }
.mum [data-genotypes="RrYyWW"] { --phenotype: var(--pink); --obtain: var(--island); }
.mum [data-genotypes="RRYyWW"] { --phenotype: var(--red); }
.mum [data-genotypes="rryyWW"] { --phenotype: var(--purple); }
.mum [data-genotypes="RryyWW"] { --phenotype: var(--pink); }
.mum [data-genotypes="RRyyWW"] { --phenotype: var(--red); }
.mum [data-genotypes="rrYYWw"] { --phenotype: var(--yellow); }
.mum [data-genotypes="RrYYWw"] { --phenotype: var(--purple); }
.mum [data-genotypes="RRYYWw"] { --phenotype: var(--green); }
.mum [data-genotypes="rrYyWw"] { --phenotype: var(--yellow); }
.mum [data-genotypes="RrYyWw"] { --phenotype: var(--red); }
.mum [data-genotypes="RRYyWw"] { --phenotype: var(--purple); --obtain: var(--island); }
.mum [data-genotypes="rryyWw"] { --phenotype: var(--white); --obtain: var(--seed-white); }
.mum [data-genotypes="RryyWw"] { --phenotype: var(--pink); }
.mum [data-genotypes="RRyyWw"] { --phenotype: var(--red); }
.mum [data-genotypes="rrYYww"] { --phenotype: var(--yellow); --obtain: var(--seed-yellow); }
.mum [data-genotypes="RrYYww"] { --phenotype: var(--purple); }
.mum [data-genotypes="RRYYww"] { --phenotype: var(--green); }
.mum [data-genotypes="rrYyww"] { --phenotype: var(--yellow); }
.mum [data-genotypes="RrYyww"] { --phenotype: var(--yellow); }
.mum [data-genotypes="RRYyww"] { --phenotype: var(--purple); }
.mum [data-genotypes="rryyww"] { --phenotype: var(--white); }
.mum [data-genotypes="Rryyww"] { --phenotype: var(--pink); }
.mum [data-genotypes="RRyyww"] { --phenotype: var(--red); --obtain: var(--seed-red); }

.pansy [data-genotypes="rrYYWW"] { --phenotype: var(--yellow); }
.pansy [data-genotypes="RrYYWW"] { --phenotype: var(--yellow); }
.pansy [data-genotypes="RRYYWW"] { --phenotype: var(--purple); }
.pansy [data-genotypes="rrYyWW"] { --phenotype: var(--blue); }
.pansy [data-genotypes="RrYyWW"] { --phenotype: var(--orange); }
.pansy [data-genotypes="RRYyWW"] { --phenotype: var(--purple); }
.pansy [data-genotypes="rryyWW"] { --phenotype: var(--blue); }
.pansy [data-genotypes="RryyWW"] { --phenotype: var(--blue); --obtain: var(--island); }
.pansy [data-genotypes="RRyyWW"] { --phenotype: var(--purple); }
.pansy [data-genotypes="rrYYWw"] { --phenotype: var(--yellow); }
.pansy [data-genotypes="RrYYWw"] { --phenotype: var(--yellow); }
.pansy [data-genotypes="RRYYWw"] { --phenotype: var(--orange); --obtain: var(--island); }
.pansy [data-genotypes="rrYyWw"] { --phenotype: var(--yellow); }
.pansy [data-genotypes="RrYyWw"] { --phenotype: var(--orange); }
.pansy [data-genotypes="RRYyWw"] { --phenotype: var(--red); }
.pansy [data-genotypes="rryyWw"] { --phenotype: var(--white); --obtain: var(--seed-white); }
.pansy [data-genotypes="RryyWw"] { --phenotype: var(--red); }
.pansy [data-genotypes="RRyyWw"] { --phenotype: var(--red); }
.pansy [data-genotypes="rrYYww"] { --phenotype: var(--yellow); --obtain: var(--seed-yellow); }
.pansy [data-genotypes="RrYYww"] { --phenotype: var(--yellow); }
.pansy [data-genotypes="RRYYww"] { --phenotype: var(--orange); }
.pansy [data-genotypes="rrYyww"] { --phenotype: var(--yellow); }
.pansy [data-genotypes="RrYyww"] { --phenotype: var(--orange); }
.pansy [data-genotypes="RRYyww"] { --phenotype: var(--red); }
.pansy [data-genotypes="rryyww"] { --phenotype: var(--white); }
.pansy [data-genotypes="Rryyww"] { --phenotype: var(--red); }
.pansy [data-genotypes="RRyyww"] { --phenotype: var(--red); --obtain: var(--seed-red); }

.rose [data-genotypes="rrYYWWss"] { --phenotype: var(--white); }
.rose [data-genotypes="RrYYWWss"] { --phenotype: var(--red); }
.rose [data-genotypes="RRYYWWss"] { --phenotype: var(--blue); }
.rose [data-genotypes="rrYyWWss"] { --phenotype: var(--purple); }
.rose [data-genotypes="RrYyWWss"] { --phenotype: var(--red); }
.rose [data-genotypes="RRYyWWss"] { --phenotype: var(--black); }
.rose [data-genotypes="rryyWWss"] { --phenotype: var(--purple); }
.rose [data-genotypes="RryyWWss"] { --phenotype: var(--red); }
.rose [data-genotypes="RRyyWWss"] { --phenotype: var(--black); }
.rose [data-genotypes="rrYYWwss"] { --phenotype: var(--yellow); }
.rose [data-genotypes="RrYYWwss"] { --phenotype: var(--orange); }
.rose [data-genotypes="RRYYWwss"] { --phenotype: var(--orange); }
.rose [data-genotypes="rrYyWwss"] { --phenotype: var(--white); }
.rose [data-genotypes="RrYyWwss"] { --phenotype: var(--red); }
.rose [data-genotypes="RRYyWwss"] { --phenotype: var(--red); }
.rose [data-genotypes="rryyWwss"] { --phenotype: var(--white); --obtain: var(--seed-white); }
.rose [data-genotypes="RryyWwss"] { --phenotype: var(--red); }
.rose [data-genotypes="RRyyWwss"] { --phenotype: var(--black); }
.rose [data-genotypes="rrYYwwss"] { --phenotype: var(--yellow); --obtain: var(--seed-yellow); }
.rose [data-genotypes="RrYYwwss"] { --phenotype: var(--orange); }
.rose [data-genotypes="RRYYwwss"] { --phenotype: var(--orange); }
.rose [data-genotypes="rrYywwss"] { --phenotype: var(--yellow); }
.rose [data-genotypes="RrYywwss"] { --phenotype: var(--orange); }
.rose [data-genotypes="RRYywwss"] { --phenotype: var(--orange); }
.rose [data-genotypes="rryywwss"] { --phenotype: var(--white); --obtain: var(--gold-watering-can); }
.rose div.varieties [data-genotypes="rryywwss"] {
    background-image: var(--obtain), linear-gradient(149.620874deg,
        rgba(var(--white), var(--background-opacity)) 56%,
        rgba(217, 152, 22, var(--background-opacity)) 57%,
        rgba(245, 204, 43, var(--background-opacity)),
        rgba(250, 230, 149, var(--background-opacity)));
    background-size: auto calc(var(--tile-height) / 2), auto;
    background-position: 95% 100%, center;
}
.rose [data-genotypes="Rryywwss"] { --phenotype: var(--red); }
.rose [data-genotypes="RRyywwss"] { --phenotype: var(--black); }
.rose [data-genotypes="rrYYWWSs"] { --phenotype: var(--white); }
.rose [data-genotypes="RrYYWWSs"] { --phenotype: var(--pink); }
.rose [data-genotypes="RRYYWWSs"] { --phenotype: var(--red); }
.rose [data-genotypes="rrYyWWSs"] { --phenotype: var(--purple); }
.rose [data-genotypes="RrYyWWSs"] { --phenotype: var(--pink); }
.rose [data-genotypes="RRYyWWSs"] { --phenotype: var(--red); }
.rose [data-genotypes="rryyWWSs"] { --phenotype: var(--purple); }
.rose [data-genotypes="RryyWWSs"] { --phenotype: var(--pink); }
.rose [data-genotypes="RRyyWWSs"] { --phenotype: var(--red); }
.rose [data-genotypes="rrYYWwSs"] { --phenotype: var(--yellow); }
.rose [data-genotypes="RrYYWwSs"] { --phenotype: var(--yellow); }
.rose [data-genotypes="RRYYWwSs"] { --phenotype: var(--orange); --obtain: var(--island); }
.rose [data-genotypes="rrYyWwSs"] { --phenotype: var(--white); }
.rose [data-genotypes="RrYyWwSs"] { --phenotype: var(--pink); }
.rose [data-genotypes="RRYyWwSs"] { --phenotype: var(--red); }
.rose [data-genotypes="rryyWwSs"] { --phenotype: var(--white); }
.rose [data-genotypes="RryyWwSs"] { --phenotype: var(--pink); }
.rose [data-genotypes="RRyyWwSs"] { --phenotype: var(--red); }
.rose [data-genotypes="rrYYwwSs"] { --phenotype: var(--yellow); }
.rose [data-genotypes="RrYYwwSs"] { --phenotype: var(--yellow); }
.rose [data-genotypes="RRYYwwSs"] { --phenotype: var(--orange); }
.rose [data-genotypes="rrYywwSs"] { --phenotype: var(--yellow); }
.rose [data-genotypes="RrYywwSs"] { --phenotype: var(--yellow); }
.rose [data-genotypes="RRYywwSs"] { --phenotype: var(--orange); }
.rose [data-genotypes="rryywwSs"] { --phenotype: var(--white); }
.rose [data-genotypes="RryywwSs"] { --phenotype: var(--pink); }
.rose [data-genotypes="RRyywwSs"] { --phenotype: var(--red); --obtain: var(--seed-red); }
.rose [data-genotypes="rrYYWWSS"] { --phenotype: var(--white); }
.rose [data-genotypes="RrYYWWSS"] { --phenotype: var(--white); }
.rose [data-genotypes="RRYYWWSS"] { --phenotype: var(--white); }
.rose [data-genotypes="rrYyWWSS"] { --phenotype: var(--purple); }
.rose [data-genotypes="RrYyWWSS"] { --phenotype: var(--purple); }
.rose [data-genotypes="RRYyWWSS"] { --phenotype: var(--purple); }
.rose [data-genotypes="rryyWWSS"] { --phenotype: var(--purple); }
.rose [data-genotypes="RryyWWSS"] { --phenotype: var(--purple); }
.rose [data-genotypes="RRyyWWSS"] { --phenotype: var(--pink); --obtain: var(--island); }
.rose [data-genotypes="rrYYWwSS"] { --phenotype: var(--yellow); }
.rose [data-genotypes="RrYYWwSS"] { --phenotype: var(--yellow); }
.rose [data-genotypes="RRYYWwSS"] { --phenotype: var(--yellow); }
.rose [data-genotypes="rrYyWwSS"] { --phenotype: var(--white); }
.rose [data-genotypes="RrYyWwSS"] { --phenotype: var(--white); }
.rose [data-genotypes="RRYyWwSS"] { --phenotype: var(--white); }
.rose [data-genotypes="rryyWwSS"] { --phenotype: var(--white); }
.rose [data-genotypes="RryyWwSS"] { --phenotype: var(--white); }
.rose [data-genotypes="RRyyWwSS"] { --phenotype: var(--pink); }
.rose [data-genotypes="rrYYwwSS"] { --phenotype: var(--yellow); }
.rose [data-genotypes="RrYYwwSS"] { --phenotype: var(--yellow); }
.rose [data-genotypes="RRYYwwSS"] { --phenotype: var(--yellow); }
.rose [data-genotypes="rrYywwSS"] { --phenotype: var(--yellow); }
.rose [data-genotypes="RrYywwSS"] { --phenotype: var(--yellow); }
.rose [data-genotypes="RRYywwSS"] { --phenotype: var(--yellow); }
.rose [data-genotypes="rryywwSS"] { --phenotype: var(--white); }
.rose [data-genotypes="RryywwSS"] { --phenotype: var(--white); }
.rose [data-genotypes="RRyywwSS"] { --phenotype: var(--pink); }

.tulip [data-genotypes="rrYYWW"] { --phenotype: var(--yellow); }
.tulip [data-genotypes="RrYYWW"] { --phenotype: var(--yellow); }
.tulip [data-genotypes="RRYYWW"] { --phenotype: var(--purple); }
.tulip [data-genotypes="rrYyWW"] { --phenotype: var(--white); }
.tulip [data-genotypes="RrYyWW"] { --phenotype: var(--yellow); }
.tulip [data-genotypes="RRYyWW"] { --phenotype: var(--red); }
.tulip [data-genotypes="rryyWW"] { --phenotype: var(--white); }
.tulip [data-genotypes="RryyWW"] { --phenotype: var(--white); }
.tulip [data-genotypes="RRyyWW"] { --phenotype: var(--red); }
.tulip [data-genotypes="rrYYWw"] { --phenotype: var(--yellow); }
.tulip [data-genotypes="RrYYWw"] { --phenotype: var(--yellow); }
.tulip [data-genotypes="RRYYWw"] { --phenotype: var(--purple); }
.tulip [data-genotypes="rrYyWw"] { --phenotype: var(--yellow); }
.tulip [data-genotypes="RrYyWw"] { --phenotype: var(--yellow); }
.tulip [data-genotypes="RRYyWw"] { --phenotype: var(--red); }
.tulip [data-genotypes="rryyWw"] { --phenotype: var(--white); --obtain: var(--seed-white); }
.tulip [data-genotypes="RryyWw"] { --phenotype: var(--pink); --obtain: var(--island); }
.tulip [data-genotypes="RRyyWw"] { --phenotype: var(--red); --obtain: var(--seed-red); }
.tulip [data-genotypes="rrYYww"] { --phenotype: var(--yellow); --obtain: var(--seed-yellow); }
.tulip [data-genotypes="RrYYww"] { --phenotype: var(--orange); --obtain: var(--island); }
.tulip [data-genotypes="RRYYww"] { --phenotype: var(--purple); }
.tulip [data-genotypes="rrYyww"] { --phenotype: var(--yellow); }
.tulip [data-genotypes="RrYyww"] { --phenotype: var(--orange); }
.tulip [data-genotypes="RRYyww"] { --phenotype: var(--black); --obtain: var(--island); }
.tulip [data-genotypes="rryyww"] { --phenotype: var(--white); }
.tulip [data-genotypes="Rryyww"] { --phenotype: var(--red); }
.tulip [data-genotypes="RRyyww"] { --phenotype: var(--black); }

.windflower [data-genotypes="rrYYWW"] { --phenotype: var(--orange); }
.windflower [data-genotypes="RrYYWW"] { --phenotype: var(--orange); }
.windflower [data-genotypes="RRYYWW"] { --phenotype: var(--purple); }
.windflower [data-genotypes="rrYyWW"] { --phenotype: var(--blue); }
.windflower [data-genotypes="RrYyWW"] { --phenotype: var(--pink); }
.windflower [data-genotypes="RRYyWW"] { --phenotype: var(--purple); }
.windflower [data-genotypes="rryyWW"] { --phenotype: var(--blue); }
.windflower [data-genotypes="RryyWW"] { --phenotype: var(--blue); --obtain: var(--island); }
.windflower [data-genotypes="RRyyWW"] { --phenotype: var(--purple); }
.windflower [data-genotypes="rrYYWw"] { --phenotype: var(--orange); }
.windflower [data-genotypes="RrYYWw"] { --phenotype: var(--orange); }
.windflower [data-genotypes="RRYYWw"] { --phenotype: var(--pink); --obtain: var(--island); }
.windflower [data-genotypes="rrYyWw"] { --phenotype: var(--orange); }
.windflower [data-genotypes="RrYyWw"] { --phenotype: var(--pink); }
.windflower [data-genotypes="RRYyWw"] { --phenotype: var(--red); }
.windflower [data-genotypes="rryyWw"] { --phenotype: var(--white); --obtain: var(--seed-white); }
.windflower [data-genotypes="RryyWw"] { --phenotype: var(--red); }
.windflower [data-genotypes="RRyyWw"] { --phenotype: var(--red); }
.windflower [data-genotypes="rrYYww"] { --phenotype: var(--orange); --obtain: var(--seed-orange); }
.windflower [data-genotypes="RrYYww"] { --phenotype: var(--orange); }
.windflower [data-genotypes="RRYYww"] { --phenotype: var(--pink); }
.windflower [data-genotypes="rrYyww"] { --phenotype: var(--orange); }
.windflower [data-genotypes="RrYyww"] { --phenotype: var(--pink); }
.windflower [data-genotypes="RRYyww"] { --phenotype: var(--red); }
.windflower [data-genotypes="rryyww"] { --phenotype: var(--white); }
.windflower [data-genotypes="Rryyww"] { --phenotype: var(--red); }
.windflower [data-genotypes="RRyyww"] { --phenotype: var(--red); --obtain: var(--seed-red); }

@media only screen and (min-width: 1800px) {

    section.rose {
        grid-template-columns: 1fr 1fr 1fr;
    }

}

@media only screen and (min-width: 2400px) {

    section.rose {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

}

@media only screen and (min-width: 1024px) {

    section.rose:not(.condensed) div.diagram {
        grid-column: 1 / 3;
    }

    section.rose:not(.condensed) div.instructions {
        justify-self: center;
    }

}

@media only screen and (max-width: 1023px) {

    section.rose.condensed {
        grid-template-columns: 1fr;
    }

    section.rose.condensed div.options {
        grid-column: auto;
    }

    section.rose:not(.condensed) div.diagram {
        flex-direction: column;
        align-items: center;
    }

    section.rose:not(.condensed) div.varieties:nth-child(3n+2),
    section.rose:not(.condensed) div.varieties:nth-child(3n+3) {
        margin-bottom: 36px;
        border-bottom: 10px solid rgba(0, 0, 0, 0.5);
        padding-bottom: 36px;
    }

    section.rose.condensed div.instructions {
        justify-self: center;
    }

}

@media only screen and (max-width: 767px) {

    .bodytext {
        position: static;
        width: 90%;
    }

    div.species_menu {
        margin-left: 0;
        margin-right: 0;
        border-left: 0;
        border-right: 0;
        border-radius: 0;
    }

    div.species_menu ul {
        grid-template-columns: repeat(4, 1fr);
    }

    section {
        grid-template-columns: 1fr;
        margin-left: 0;
        margin-right: 0;
        border-left: 0;
        border-right: 0;
        border-radius: 0;
    }

    div.options {
        grid-column: auto;
    }

    div.options li {
        flex-basis: calc(100% / 3);
    }

    div.options button {
        padding-left: 4px;
        padding-right: 4px;
    }

    div.instructions {
        margin-top: 36px;
        justify-self: center;
    }

    div.notes {
        padding-left: 16px;
        padding-right: 16px;
    }

    section.rose.condensed {
        --tile-width: 48px;
    }

    section.rose.condensed .parentA > div,
    section.rose.condensed .parentB > div,
    section.rose.condensed .parentC > div {
        padding-left: 5px;
        padding-right: 5px;
        font-size: 16px;
    }

    section.rose.condensed .result {
        font-size: 12px;
    }
}
